@import '../../../../assets/styles/variables.scss';
@import '../../../../assets/styles/mixins.scss';

.no-sessions {
  display: flex;
  flex-direction: column;
  align-items: center;

  svg {
    color: $color-title;
    font-size: 3.2rem;
    margin-bottom: 1rem;

    @include respond(phone) {
      font-size: 2.8rem;
    }
  }

  .title {
    color: $color-title;
    font-weight: 700;
    font-size: 2.8rem;
    line-height: 120%;
    text-align: center;

    @include respond(phone) {
      font-size: 2.2rem;
    }
  }

  .subtitle {
    font-weight: 400;
    font-size: 1.6rem;
    line-height: 26px;
    margin-bottom: 2.2rem;
    text-align: center;

    @include respond(phone) {
      font-size: 1.4rem;
    }
  }
}
