@import '../../../../assets/styles/variables.scss';
@import '../../../../assets/styles/mixins.scss';

.course-instructor {
  width: 100%;
  &__title {
    color: $color-title;
    font-weight: 700;
    font-size: 28px;
    line-height: 40px;
    margin-bottom: 0.6rem;
    text-align: start;
    @include respond(tab-port) {
      font-size: 2.2rem;
      line-height: 38px;
    }
  }

  &__instructor {
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    margin-bottom: 1.6rem;

    &-info {
      display: flex;
      align-items: center;
      .instructor {
        &__img {
          img {
            width: 12rem;
            height: 12rem;
            border-radius: 50%;
            @include respond(tab-port) {
              width: 7.2rem;
              height: 7.2rem;
            }
          }
        }

        &__details {
          display: flex;
          flex-direction: column;
          align-items: flex-start;
          justify-content: flex-start;
          margin: 0 3.2rem;

          @include respond(tab-port) {
            margin: 0 2rem;
          }

          .name {
            color: $color-title;
            font-weight: 700;
            font-size: 3.4rem;
            line-height: 41px;
            margin-bottom: 0.5rem;

            @include respond(tab-port) {
              font-size: 2.2rem;
              line-height: 38px;
            }
          }

          &-review {
            display: flex;
            justify-content: flex-start;
            align-items: center;

            span {
              display: flex;
              font-size: 2.2rem;

              @include respond(tab-port) {
                font-size: 1.4rem;
              }
            }

            .review-numbers {
              color: #666666;
              font-size: 1.6rem;
              line-height: 2.5rem;
              font-weight: 400;
              padding: 0 1.5rem;
              display: block;
              margin-top: 0.3rem;

              @include respond(tab-port) {
                font-size: 1.4rem;
                line-height: 2rem;
              }
            }
          }
        }
      }
    }
  }
  &__instructor-bio {
    p {
      font-weight: 400;
      font-size: 1.6rem;
      line-height: 26px;

      @include respond(tab-port) {
        font-size: 1.4rem;
      }
    }
  }
  &__action {
    padding: 0 1rem;
    font-weight: 700;
    font-size: 1.6rem;
    line-height: 26px;
    margin-top: -0.2rem;
  }
}
