@import '../../assets/styles/variables.scss';
@import '../../assets/styles/mixins.scss';
.profile-modal {
  padding: 5rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  @include respond(phone) {
    padding: 2rem;
  }
  p {
    font-size: 1.8rem;
    font-weight: 500;
    line-height: 2.8rem;
    margin-bottom: 2rem;
    text-align: center;
  }
  .calendar {
    &-actions {
      &__container {
        width: 100%;
        display: flex;
        justify-content: space-between;
      }
      &__button {
        min-width: 14rem;
        height: 4rem;
        &-secondary {
          background-color: $color-secondary;
        }
      }
    }
  }
}
