@import '../../assets/styles/variables.scss';
@import '../../assets/styles/mixins.scss';

.cancelCalendarModal {
  padding: 3rem;
  @include respond(phone) {
    padding: 2rem;
  }
  &__head {
    display: flex;
    align-items: center;

    &-icon {
      color: $color-private;
      font-size: 2.2rem;
    }

    h4 {
      margin-left: 1.2rem;
    }
  }

  &__body {
    padding-left: 3rem;
  }

  &__actions-container {
    display: flex;
    justify-content: flex-end;
    margin-top: 4.5rem;
    &-action {
      min-width: 8rem;
    }
    &-action:first-child {
      margin: 0 1rem;
    }
  }
}
