@import '../../assets/styles/variables.scss';
@import '../../assets/styles/mixins.scss';

.packages {
  background-color: $color-grey-light-0;
  min-height: 100vh;
  padding-top: 2.4rem;
  padding-bottom: 2.4rem;

  &__container {
    display: flex;
    flex-direction: column;

    @include respond(phone) {
      width: 94%;
      max-width: unset !important;
    }
  }

  &__title {
    font-size: 3.2rem;
    font-weight: 700;
    color: $color-title;
    margin-bottom: 3rem;
    text-align: start;

    @include respond(phone) {
      font-size: 2.4rem;
      margin-bottom: 2rem;
    }
  }
}
