@import '../../../../../assets/styles/variables.scss';
@import '../../../../../assets/styles/mixins.scss';

.studentRateModal {
  padding: 3rem;
  &__head {
    max-width: 40rem;
    margin: auto;
    @include respond(phone) {
      h3 {
        font-size: 2rem !important;
        margin-top: 1rem;
      }
      p {
        font-size: 1.2rem !important;
      }
    }
  }

  &__body {
    bar-rating {
      display: block;

      margin: 4.8rem 0;
    }
  }

  &__actions-container {
    display: flex;
    justify-content: space-between;
    margin: auto;
    max-width: 40rem;

    button {
      width: 20rem;

      &:first-child {
        margin-right: 1.5rem;
      }
      &.rtl {
        margin-right: 0;
        margin-left: 1.5rem;
      }
    }
  }

  &__textarea {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-bottom: 4.8rem;
    padding: 0 3rem;

    .MuiRating-root {
      padding: 2rem 0;
      font-size: 5.4rem;
    }

    p {
      font-weight: 500;
    }
    @include respond(phone) {
      p {
        font-size: 1.2rem !important;
      }
    }
  }
}
