@import '../../../../../assets/styles/variables.scss';
@import '../../../../../assets/styles/mixins.scss';

.sessions-card {
  display: block;
  border-radius: 8px;
  border: 1px solid #eaeef1;
  background-color: $color-white;
  padding: 3.2rem 3.2rem 1.2rem;
  margin-bottom: 2rem;

  @include respond(phone) {
    padding: 1.2rem;
  }
  &__content {
    display: flex;
    flex-direction: column;

    &-top {
      display: flex;
      justify-content: space-between;
      border-bottom: 1px solid #eaeef1;
      padding-bottom: 1.6rem;
    }

    &-middle {
      display: flex;
      flex-wrap: wrap;
      margin-top: 1.6rem;
      padding-bottom: 1.6rem;

      .prop-card {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        width: 20%;

        &:not(:last-child) {
          border-right: 1px solid #eaeef1;
        }

        &:not(:first-child) {
          padding-left: 2rem;
        }

        &.rtl {
          &:not(:last-child) {
            border-left: 1px solid #eaeef1;
            border-right: none;
          }

          &:not(:first-child) {
            padding-left: 0;
            padding-right: 2rem;
          }
        }

        @include respond(tab-port) {
          width: 50%;

          &:not(:last-child) {
            border-right: none;
          }

          &:not(:first-child) {
            padding-left: 0;
          }

          &:nth-child(odd):not(:last-child) {
            border-right: 1px solid #eaeef1;
          }

          &:not(:last-child) {
            border-bottom: 1px solid #eaeef1;
            margin-bottom: 1rem;
            padding-bottom: 1rem;
          }

          &:nth-child(even) {
            padding-left: 2rem;
          }

          &.rtl {
            &:not(:last-child) {
              border-left: none;
            }

            &:not(:first-child) {
              padding-right: 0;
            }

            &:nth-child(odd):not(:last-child) {
              border-left: 1px solid #eaeef1;
              border-right: none;
            }

            &:nth-child(even) {
              padding-right: 2rem;
              padding-left: 0;
            }
          }
        }

        .title {
          font-weight: 600;
          font-size: 1.6rem;
          line-height: 19px;
          color: $color-title;
          margin-bottom: 2rem;
          text-align: start;

          @include respond(phone) {
            font-size: 1.1rem;
          }
        }

        .value {
          display: flex;
          align-items: center;
          justify-content: flex-start;
          font-weight: 500;
          font-size: 1.6rem;
          line-height: 150%;
          color: $color-body;

          svg {
            font-size: 2rem;
            margin-right: 0.7rem;

            &.rtl {
              margin-right: 0;
              margin-left: 0.7rem;
            }
          }

          @include respond(phone) {
            font-size: 1.1rem;

            svg {
              font-size: 1.2rem;
            }
          }
        }

        .field {
          padding: 4px 6px;
          border-radius: 0.6rem;
          background-color: #eaeef1;
          color: $color-body;
          font-weight: 500;
          font-size: 1.6rem;
          line-height: 150%;
        }
      }
    }
  }

  &__img-container {
    display: flex;
    align-items: center;

    img {
      width: 4.9rem;
      height: 4.9rem;
      border-radius: 50%;
    }

    .user-info {
      margin: 0 0.8rem;

      .name {
        font-weight: 700;
        font-size: 2.4rem;
        line-height: 140%;
        color: $color-title;
        text-align: start;

        @include respond(phone) {
          font-size: 1.6rem;
        }
      }

      .review {
        display: flex;
        align-items: center;

        &-stars {
          display: flex;
          justify-content: center;

          .yellow {
            color: $color-gold;
          }

          .grey {
            color: rgba($color: $color-black, $alpha: 0.1);
          }
        }

        &-ratings {
          margin: 0 1rem;
        }
      }
    }
  }

  &__instructor-img {
    cursor: pointer;
  }

  &__actions {
    display: flex;

    &-button:first-child {
      margin-right: 2.4rem;
    }

    &.rtl {
      .sessions-card__actions-button:first-child {
        margin-left: 2.4rem;
        margin-right: 0;
      }
    }

    @include respond(phone) {
      flex-direction: column;

      &-button:first-child {
        margin-bottom: 2.4rem;
        margin-right: 0;
      }

      .rtl {
        .sessions-card__actions-button:first-child {
          margin-left: 0;
        }
      }
    }
  }

  &__status {
    padding: 1.2rem 0 0;
    border-top: 1px solid #eaeef1;

    &-wrapper {
      display: flex;
      justify-content: center;
      align-items: center;

      p {
        margin: 0 1rem;

        @include respond(phone) {
          font-size: 1.2rem;
        }
      }
    }
  }
}
