@import '../../../assets/styles/variables.scss';
@import '../../../assets/styles/mixins.scss';

.landing__best-instructors {
  background-color: $color-blue-gray;
  padding-top: 4rem;
  padding-bottom: 4rem;

  .best-instructors-header {
    color: $color-gold;
    font-size: 2.2rem;
    font-weight: 600;
    letter-spacing: 1.625px;
    text-transform: uppercase;
    text-align: center;

    @include respond(phone) {
      font-size: 1.8rem;
    }
  }

  .best-instructors-description {
    color: $color-midnight-blue;
    font-size: 4rem;
    font-weight: 600;
    line-height: 5.8rem;
    letter-spacing: -1.2px;
    padding-bottom: 4.8rem;
    display: flex;
    flex-direction: column;
    align-items: center;

    @include respond(phone) {
      font-size: 2.4rem;
      line-height: 3.8rem;
    }
  }

  .instructors-images {
    display: flex;
    justify-content: center;
    align-items: flex-end;
    flex-wrap: wrap;
    column-gap: 3rem;
    row-gap: 3rem;

    .image {
      width: 21.2rem;
      height: 28.4rem;
      border: 12px solid $color-white;
      border-radius: 12px;
      transition: transform 0.3s ease-in-out;
      transform-origin: bottom;

      &:hover {
        transform: scale(1.1);
      }
    }
  }
}
