@import '../../assets/styles/variables.scss';
@import '../../assets/styles/mixins.scss';

.instructor-trial-modal {
  padding: 5rem;
  h1 {
    font-weight: bold;
    font-size: 2.4rem;
    text-align: center;
    margin-bottom: 1.8rem;

    @include respond(phone) {
      font-size: 1.8rem;
      margin-bottom: 1rem;
      margin-top: 1rem;
    }
  }

  .subtitle {
    font-weight: bold;
    font-size: 1.6rem;
    text-align: center;
    margin-bottom: 1.5rem;

    @include respond(phone) {
      font-size: 1.2rem;
      margin-bottom: 1rem;
    }
  }

  .instructors-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: center;

    button:hover {
      background-color: unset;
    }
  }
}
