@import '../../../assets/styles/variables.scss';
@import '../../../assets/styles/mixins.scss';

.landing__learning-fields {
  background-color: $color-white;
  padding-top: 10rem;
  padding-bottom: 7rem;
  background:
    linear-gradient(rgba(255, 255, 255, 0.75), rgba(255, 255, 255, 0.75)),
    url('../../../assets/images/newLanding/blend.webp') center/cover no-repeat;

  @include respond(phone) {
    padding-bottom: 4rem;
    padding-top: 5rem;
  }

  .learning-fields-container {
    width: 62%;
    margin: auto;

    @include respond(tab-port) {
      width: 100%;
    }
  }

  .learning-fields-header {
    color: $color-gold;
    font-size: 2.2rem;
    font-weight: 600;
    letter-spacing: 1.625px;
    text-transform: uppercase;
    text-align: center;

    @include respond(phone) {
      font-size: 1.8rem;
    }
  }

  .learning-fields-description {
    color: $color-midnight-blue;
    font-size: 4rem;
    font-weight: 600;
    line-height: 5.8rem;
    letter-spacing: -1.2px;
    text-align: center;
    padding-bottom: 4.8rem;

    @include respond(phone) {
      font-size: 2.4rem;
      line-height: 3.8rem;
    }
  }

  .fields-images {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    column-gap: 3rem;
    row-gap: 3rem;
    direction: ltr;

    &__card {
      display: flex;
      align-items: center;
      justify-content: space-between;
      background-color: $color-white;
      box-shadow: 0 4px 16px 0 rgba(0, 0, 0, 0.12);
      border-radius: 10px;
      width: 35rem;
      height: 11.7rem;
      padding: 2.6rem 3.2rem;

      .title {
        color: $color-midnight-blue;
        font-size: 2.1rem;
        font-weight: 600;
        line-height: 3.2rem;
        letter-spacing: -0.5px;
      }

      .image {
        width: 6.4rem;
        height: 6.4rem;
      }

      &:hover {
        background-color: $color-primary;

        .title {
          color: $color-white;
        }

        .image {
          width: 10rem;
          height: 10rem;
          margin-bottom: 4rem;
        }
      }
    }
  }
}
