@import '../../assets/styles/variables.scss';
@import '../../assets/styles/mixins.scss';

.card {
  display: flex;
  flex-direction: column;
  align-items: center;
  line-height: 2rem;
  padding: 2rem;
  border-radius: 4px;
  border: none;
  background-color: $color-white;
  margin-bottom: 3rem;
  box-shadow: 0px 4px 14px rgba(0, 0, 0, 0.04);

  &__title {
    font-weight: 600;
    font-size: 24px;
    line-height: 32px;
    align-self: flex-start;
    margin-bottom: 1.3rem;
    color: $color-title;
    letter-spacing: 0;

    &--course-price {
      align-self: center;
      font-size: 1.4rem;
      margin-top: 1.8rem;
      color: rgba($color: $color-black, $alpha: 0.25);
      letter-spacing: 0;
      line-height: 1.7rem;
    }
  }

  &__prices {
    display: inline-block;

    position: relative;

    text-align: center;

    &--before {
      position: absolute;
      display: flex;

      top: -2px;
      right: 22%;

      text-decoration: line-through;

      color: #778699;
      font-size: 1.6rem;
      font-weight: bold;
      letter-spacing: 0;
      line-height: 2rem;
      margin-bottom: 1rem;

      span {
        margin-right: 0.5rem;
      }

      &.rtl {
        flex-direction: row-reverse;
      }
    }

    &--after {
      margin-top: 1.6rem;

      display: flex;

      color: #2c3f58;
      font-size: 3rem;
      font-weight: bold;
      letter-spacing: 0;
      line-height: 3.6rem;

      span {
        margin-right: 0.5rem;
      }

      &.rtl {
        flex-direction: row-reverse;
      }
    }

    &--free {
      color: $color-primary;
      font-size: 3rem;
      font-weight: bold;
      letter-spacing: 0;
      line-height: 3.6rem;
    }
  }

  &__description {
    width: 100%;
    margin-bottom: 1.5rem;
    color: $color-body;
    font-weight: 400;
    font-size: 16px;
    line-height: 26px;
    text-align: start;
    & > p {
      font-size: 1.6rem !important;
    }
  }

  &__link {
    width: 100%;
    max-width: 210px;
    text-decoration: none;
  }

  &__btn {
    display: block;
    margin: auto;
    padding: 1.6rem 2.9rem;
    width: 100%;
    border-radius: 0;

    font-size: 1.6rem;
    font-weight: 600;
    line-height: 2.4rem;
    border: 0;

    color: $color-white;

    cursor: pointer;

    &--primary {
      background-color: $color-primary;
      &:hover {
        background-color: #41b7dc;
      }
    }

    &--secondary {
      background-color: $color-secondary;
    }

    &--disabled {
      color: $color-disabled;
      background-color: $color-grey-light-2;

      cursor: not-allowed;
    }
  }

  .price-btn {
    font-size: 1.6rem;
    font-weight: bold;
  }

  .special-btn {
    border: 1px solid #dce1e7;
    background-color: #ffffff;
    color: $color-primary;
  }
}
