@import '../../../../assets/styles/variables.scss';
@import '../../../../assets/styles/mixins.scss';

.profile-info {
  display: block;
  background: rgba($color-primary, 0.5);
  padding: 3.2rem 0 6rem;
  margin-bottom: 8rem;
  position: relative;
  @include respond(phone) {
    margin-bottom: 18rem;
  }
  &__container {
    display: flex;
    justify-content: space-between;
    @include respond(tab-port) {
      flex-direction: column;
      align-items: center;
    }
    @include respond(phone) {
      width: 94%;
      max-width: unset !important;
    }
  }
  &__instructor {
    width: 48%;
    @include respond(tab-port) {
      order: 2;
      width: 100%;
    }
  }
  &__video-banner {
    width: 48%;
    @include respond(tab-port) {
      order: 1;
      width: 100%;
    }
    iframe {
      width: 100%;
      height: 32.8rem;
      @include respond(tab-port) {
        height: 25rem;
      }
      @include respond(mobile) {
        height: 160rem;
      }
    }

    &--editMode {
      position: relative;
      height: 490px;
      @include respond(tab-port) {
        height: 250px;
      }
      @include respond(mobile) {
        height: 160px;
      }

      background-image: url(../../../../assets/images/video-edit-placeholder_16@2x.png);
      background-size: 102%;
      background-position: -10px;
      background-repeat: no-repeat;
      padding: 0 13rem;
      width: 100%;
      display: flex;
      justify-content: center;
      align-items: center;

      &.editMode::before {
        content: '';
        top: 0;
        bottom: 0;
        right: 0;
        left: 0;
        position: absolute;
        background-color: rgba($color: $color-black, $alpha: 0.5);
        z-index: 1;
      }

      .text-wrapper {
        z-index: 2;
        p {
          margin-bottom: 1rem;
          &.editMode {
            color: $color-white;
          }
          @include respond(phone) {
            font-size: 12px !important;
            width: 24rem;
          }
        }

        button {
          max-width: 34rem;
          margin: auto;
        }
      }
    }
  }

  &__instructor-card {
    display: flex;
    align-items: center;
    margin-bottom: 3.2rem;
  }

  &__instructor-img {
    position: relative;
    width: 12rem;
    height: 12rem;
    @include respond(tab-port) {
      width: 7.2rem;
      height: 7.2rem;
    }

    .profile-img-btn {
      padding: 0;
      min-width: unset;
      &:hover {
        background-color: unset;
      }
    }

    &.editMode::before {
      content: '';
      position: absolute;
      top: 0;
      bottom: 0;
      right: 0;
      left: 0;
      background-color: rgba($color: $color-black, $alpha: 0.5);
      border-radius: 50%;
    }

    img,
    .placeholder {
      width: 12rem;
      height: 12rem;
      border-radius: 6rem;
      object-fit: cover;
      @include respond(tab-port) {
        width: 7.2rem;
        height: 7.2rem;
        border-radius: 3.6rem;
      }

      &.editMode {
        cursor: pointer;
      }

      &.clickable-img {
        cursor: pointer;
      }

      &.avatar {
        border-radius: 0;
      }
    }

    .edit-icon {
      position: absolute;
      display: inline-block;
      top: 52%;
      left: 54%;
      transform: translateX(-50%) translateY(-50%);
      color: $color-white;
      cursor: pointer;
    }
    &.online::after {
      display: block;
      content: ' ';
      width: 8px;
      height: 8px;
      background-color: #a7e521;
      border: 2px solid #fff;
      border-radius: 100%;
      position: absolute;
      right: 4px;
      bottom: 4px;
    }
  }

  &__instructor-info {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
    margin-left: 3.2rem;
    @include respond(tab-port) {
      margin-left: 2rem;
    }
  }

  &__instructor-name {
    color: $color-white;
    font-size: 4.8rem;
    font-weight: 800;
    line-height: 64px;
    margin-bottom: 0.5rem;
    @include respond(tab-port) {
      font-size: 2.85rem;
      line-height: 38px;
    }
  }

  &__instructor-fields {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    margin: 0 -5px;
    flex-flow: row wrap;
  }

  &__instructor-field {
    padding: 3px 15px;
    margin: 5px;
    border-radius: 11px;
    background-color: $color-primary;
    color: #fff;
    font-weight: 400;
    font-size: 12px;
    line-height: 18px;
  }

  &__instructor-stars {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    span {
      display: flex;
      font-size: 2.2rem;
      @include respond(tab-port) {
        font-size: 1.2rem;
      }
    }
    .review-numbers {
      color: #666666;
      font-size: 1.6rem;
      line-height: 2.5rem;
      font-weight: 400;
      padding: 0 1.5rem;
      display: block;
      margin-top: 0.3rem;
      @include respond(tab-port) {
        font-size: 1.2rem;
        line-height: 15px;
      }
    }
  }

  &__about {
    text-align: start;
    h5 {
      color: $color-white;
      font-size: 16px;
      font-weight: 400;
      line-height: 26px;
    }

    .profile-p {
      color: $color-white;
      font-size: 16px;
      font-weight: 400;
      line-height: 26px;
      @include respond(tab-port) {
        font-size: 1.2rem;
      }
    }

    .cellInput {
      width: 100%;
      height: 100%;
      border-radius: 4px;
      border: 1px solid $color-white;
      background-color: $color-white;
      color: $color-body;
      padding: 0.8rem 1.2rem;
      &:focus-visible {
        outline: $color-primary solid 2px;
      }
      outline: none;
      @include respond(phone) {
        max-height: 128px !important;
      }
    }

    p {
      color: $color-body;
      font-size: 14px;
      font-weight: 400;
      line-height: 22px;
      span {
        color: $color-primary;
      }
    }
  }

  &__edit-mode-modal {
    &-container {
      display: flex;
      flex-wrap: wrap;
      justify-content: space-between;
      button {
        width: 35%;
      }
    }
  }

  &__video-edit-modal {
    padding: 5rem;
    @include respond(phone) {
      padding: 3rem;
    }
    &-title {
      font-weight: bold;
      font-size: 1.8rem;
      margin-bottom: 2rem;
      text-align: center;
    }
    .cellInput {
      margin-bottom: 2rem;
      width: 100%;
      height: 100%;
      border-radius: 4px;
      border: 1px solid $color-body;
      padding: 0.8rem 1.2rem;
      @include respond(phone) {
        max-height: 128px !important;
      }
    }
    .profile-p {
      color: $color-body;
      font-size: 14px;
      font-weight: 400;
      line-height: 22px;
    }
  }

  &__img-edit-modal {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 5rem;
    @include respond(phone) {
      padding: 3rem;
    }
    label {
      align-self: flex-start;
      margin-bottom: 2rem;
      input {
        display: none;
      }
      > span {
        background-color: $color-secondary;
        min-width: 14rem;
        height: 4rem;
        font-size: 1.4rem;
        font-weight: 500;
        padding: 8px 16px;
        color: $color-white;
      }
    }

    .image-cropper-wrapper {
      margin-bottom: 20px;
    }

    .title {
      font-size: 1.8rem;
      font-weight: 700;
      line-height: 2.8rem;
      margin-bottom: 2rem;
    }

    &-placeholder {
      width: 20rem;
      height: 20rem;
      border: 1px solid $color-primary;
      border-radius: 50%;
      overflow: hidden;

      margin: 0 auto 5rem;

      cursor: pointer;

      image-cropper {
        max-height: 300px;
        background: $color-primary;
      }
      img {
        width: 100%;
        height: 100%;
      }
    }
    &-actions {
      display: flex;
      flex-wrap: wrap;
      justify-content: space-between;
      width: 100%;
      button {
        width: 35%;
      }
    }
  }

  &__img-viewer-modal {
    padding: 5rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    @include respond(phone) {
      padding: 3rem;
    }
  }
  &__statistics {
    position: absolute;
    width: 60%;
    height: 10rem;
    background-color: white;
    box-shadow: 0px 4px 14px rgba(0, 0, 0, 0.04);
    left: 20%;
    bottom: -5rem;
    border-radius: 8px;
    z-index: 1;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 2rem;

    &-card:not(:first-child) {
      border-left: 1px solid #eaeef1;
      padding-left: 1.7rem;
    }
    &-card {
      width: 25%;
      &__name {
        margin-bottom: 1.2rem;
        color: $color-body;
        font-size: 1.6rem;
        line-height: 26px;
        font-weight: 400;
        @include respond(phone) {
          margin-bottom: 0.9rem;
          font-size: 1.2rem;
          line-height: 21px;
        }
      }
      &__value {
        color: $color-title;
        font-weight: 600;
        font-size: 2rem;
        line-height: 24px;
        @include respond(phone) {
          font-size: 16px;
          line-height: 20px;
        }
      }
    }

    @include respond(tab-port) {
      width: 80%;
      left: 10%;
    }
    @include respond(phone) {
      width: 90%;
      left: 5%;
      bottom: -16rem;
      height: 17.5rem;
      flex-wrap: wrap;
      padding: 1.8rem;
      &-card {
        width: 50%;
      }
      &-card:nth-child(even) {
        border-left: 1px solid #eaeef1;
        padding-left: 1.7rem;
      }
      &-card:nth-child(odd) {
        border-left: none;
        padding-left: 0;
      }
    }
  }
  &.rtl {
    .profile-info {
      &__instructor-info {
        margin-left: 0;
        margin-right: 3.2rem;
        @include respond(tab-port) {
          margin-right: 2rem;
        }
      }
      &__statistics {
        &-card:not(:first-child) {
          border-right: 1px solid #eaeef1;
          border-left: none;
          padding-right: 1.7rem;
          padding-left: 0;
        }
        @include respond(phone) {
          &-card:nth-child(even) {
            border-right: 1px solid #eaeef1;
            padding-right: 1.7rem;
          }
          &-card:nth-child(odd) {
            border-right: none;
            padding-right: 0;
          }
        }
      }
    }
  }
}
