.terms-container {
  margin-top: 6.5rem !important;
  background: #fff;
  padding: 2.4rem !important;

  .terms-title {
    text-align: center;
  }

  h2,
  h3 {
    margin: 1rem 0;
  }

  ul li {
    padding-left: 10px;
    font-size: 16px;
    color: #848f98;
    margin: 3px 0;
  }
}
