@import '../../../../../assets/styles/variables.scss';
@import '../../../../../assets/styles/mixins.scss';

.profile-review {
  box-shadow: 0px 24px 64px rgba(0, 0, 0, 0.1);
  border-radius: 10px;
  padding: 3.2rem 1.6rem;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  width: 27rem;
  height: 28rem;

  &__date {
    color: #969bab;
    font-weight: 500;
    font-size: 1.4rem;
    line-height: 24px;
    margin-bottom: 1rem;
  }
  &__rating-stars {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    margin-bottom: 1rem;
    .review-numbers {
      color: $color-title;
      font-weight: 400;
      font-size: 12px;
      line-height: 18px;
      padding: 0 0.5rem;
    }
  }
  &__text {
    color: $color-body;
    font-weight: 400;
    line-height: 24px;
    p {
      font-size: 1.4rem;
    }
  }
  &__author {
    color: $color-title;
    font-weight: 700;
    font-size: 1.8rem;
    line-height: 28px;
    margin-bottom: 0 !important;
  }
}
