@import '../../assets/styles/variables.scss';
@import '../../assets/styles/mixins.scss';

.login-modal {
  padding: 3rem;
  background-color: $color-white;

  &__card {
    display: flex;
    align-items: flex-start;
    margin-bottom: 2rem;

    &-icon {
      display: flex;
      justify-content: center;
      align-items: center;
      background-color: $color-primary;
      border-radius: 50%;
      align-self: center;
      color: #fff;
      margin-bottom: 4rem;
      width: 4.8rem;
      height: 4.8rem;
      text-align: center;
      line-height: 4.8rem;
      font-size: 2.2rem;

      svg {
        width: 3rem;
        height: 3rem;
        font-size: 2.2rem;
      }
    }

    &-body {
      margin-right: 1.6rem;
      margin-left: 1.6rem;
      width: 60%;

      &.rtl {
        text-align: right;
      }

      @include respond(phone) {
        width: 100%;
      }

      &__header {
        color: #2c3f58;
        font-size: 24px;
        font-weight: bold;
        line-height: 36px;
        margin-bottom: 0.8rem;

        @include respond(phone) {
          font-size: 18px;
        }
      }

      &__text {
        color: #778699;
        font-size: 14px;
        line-height: 22px;
      }
    }
  }
  &__form {
    margin-top: 2.4rem;
    &.rtl {
      text-align: right;
    }

    .custom-input-style {
      height: 4.4rem;
      width: 100%;
      margin-bottom: 2.4rem;
    }
    .MuiInputBase-root {
      font-size: 1.4rem;
      line-height: 2.2rem;
      height: 4.4rem;
      background: #f1f3f8;
    }

    .MuiOutlinedInput-input {
      padding: 14.5px 14px;
    }

    .MuiOutlinedInput-notchedOutline {
      border: none;
    }

    .MuiFormLabel-root {
      font-weight: 600;
      font-size: 1.6rem;
      line-height: 24px;
      color: #2c3e50;
      margin-bottom: 0.8rem;
    }

    .MuiFormHelperText-root {
      font-size: 1.4rem;
      margin: 0.3rem 0;
      text-align: start;
    }

    .forget-password-label {
      display: flex;
      justify-content: space-between;
      align-items: flex-end;

      .forget-password-btn {
        color: $color-primary;
        font-weight: 400;
        font-size: 1rem;
        line-height: 16px;
        float: right;
        cursor: pointer;
        margin-bottom: 0.3rem;

        &.rtl {
          float: left;
        }
      }
    }

    .btn-custom-style {
      width: 100%;
      font-size: 16px;
      font-weight: 500;
      line-height: 24px;
      border: none;
      height: 5.6rem;
      margin-top: 0.5rem;
    }
    .no-account {
      margin: 1.2rem 0 2.1rem;
      display: flex;
      justify-content: center;
      align-items: center;

      .register-text {
        font-size: 14px;
        line-height: 17px;
        font-weight: 400;
        color: rgba(0, 0, 0, 0.9);
      }

      .register-link {
        color: $color-primary;
        font-size: 14px;
        font-weight: bold;
        line-height: 17px;
        cursor: pointer;
      }
    }

    .social-login {
      display: flex;
      flex-direction: column;
      align-items: center;
      margin-bottom: 0.9rem;

      .or-text {
        font-weight: 400;
        font-size: 10px;
        line-height: 15px;
        color: $color-body;
        margin-bottom: 1.2rem;
      }

      .social-btn {
        margin-bottom: 1.2rem;
        font-weight: 600;
        font-size: 1.2rem;
        line-height: 18px;
        color: #425466;
        width: 19rem;
        height: 3.4rem;
        border: 1px solid #425466;
        border-radius: 8px;
        direction: ltr;
      }
    }

    .term-body {
      text-align: center;

      .term-first-text {
        color: $color-body;
        font-weight: 400;
        font-size: 1rem;
        line-height: 15px;
      }

      .term-second-text {
        color: $color-primary;
        font-weight: 400;
        font-size: 1rem;
        line-height: 15px;
        cursor: pointer;
      }
    }
  }

  .form-control-danger {
    color: #f44336 !important;
    font-size: 1.4rem;
    margin-bottom: 0.5rem;
  }
  .full-line {
    width: 100%;
    margin: 3rem auto;
  }
}
