@import '../../../assets/styles/variables.scss';
@import '../../../assets/styles/mixins.scss';

.app-header-mobile__overlay {
  display: none;
  position: fixed;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.3);
  z-index: 2;
  top: 0;
  left: 0;

  &.active {
    display: block;
  }
}

.app-header-mobile {
  display: flex;
  flex-direction: column;
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 110;
  background-color: $color-white;
  padding: 0 0 1.2rem;
  border-bottom: 1px solid #dee2e6;

  &.active {
    height: auto;
  }

  &__top {
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: $color-title;
    z-index: 100;
    padding: 1.2rem 3rem 0;

    img {
      width: 8rem;
    }

    .menu-icon {
      font-size: 2.6rem;
      color: $color-title;
    }
  }

  &__body {
    display: none;
    background-color: $color-white;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    font-size: 1.6rem;
    font-weight: 600;
    line-height: 2.2rem;
    color: $color-title;
    opacity: 0;
    transition: all 0.5s ease-in-out;
    padding: 0 3rem;

    // transform-origin: left top;
    // transform: scaleY(0);
    & > * {
      display: block;
    }

    &.active {
      display: flex;
      padding-top: 2rem;
      opacity: 1;
      // transform: scaleY(1);
    }

    a.active {
      color: $color-primary;
      font-weight: 600;
    }

    .logout {
      color: $color-primary;
    }

    &-links {
      margin: 2rem 0;
      display: flex;
      flex-direction: column;
      align-items: center;

      .link {
        padding: 0.5rem 0;
      }
    }

    &-free-trail {
      margin-bottom: 1.5rem;
    }

    &-profile {
      display: flex;
      flex-direction: column;
      align-items: center;
      margin: 1.5rem 0;

      .item {
        color: $color-body;
        line-height: 2.2rem;
        border-radius: 0.6rem;
        margin-bottom: 0.5rem;

        &:hover {
          background-color: $color-grey-light-1;
        }
      }
    }

    &-logout {
      margin: 1.5rem 0 1rem;
    }

    .menu-item,
    p {
      display: inline-block;
      color: $color-title;
      margin-bottom: 0.5rem;
      font-size: 1.6rem;
      padding: 0;
      font-weight: 600;

      &.active {
        color: $color-primary;
        font-weight: 600;
      }
    }

    .app-header__user {
      display: flex;
      justify-content: center;
      align-items: center;
      margin-bottom: 1rem;
      cursor: pointer;

      img {
        background-color: $color-grey-light-4;
        border-radius: 100%;
        width: 3.2rem;
        height: 3.2rem;
        object-fit: cover;
      }

      &-center {
        position: relative;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;

        .name {
          color: $color-title;
          font-size: 1.4rem;
          font-weight: 500;
          line-height: 2.2rem;
        }
      }
    }
  }
}
