@import '../../../assets/styles/variables.scss';
@import '../../../assets/styles/mixins.scss';

.session-filter {
  background-color: $color-white;
  border-radius: 16px;
  box-shadow: 0px 24px 64px rgba(0, 0, 0, 0.04);
  height: 8rem;

  &__container {
    display: flex;
    align-items: center;
    padding: 2.1rem;
    background-color: $color-white;
    border-radius: 16px;

    @media only screen and (max-width: $breakpoint-md) {
      flex-wrap: wrap;
      max-width: 94vw !important;
      margin: auto;
    }

    .hidden {
      overflow: hidden;
      height: 0;
      opacity: 0;
      transition: all 0.5s ease-in-out;
    }

    .visible {
      overflow: visible;
      opacity: 1;
      height: unset;
      transform: translateY(0);
    }
  }

  &__dropdown-container {
    display: flex;

    @media only screen and (max-width: $breakpoint-xmd) {
      order: 3;
      width: 100%;
    }
  }

  &__dropdown-group {
    display: flex;
    margin: 0 !important;

    @media only screen and (max-width: $breakpoint-xmd) {
      justify-content: space-between;
      margin-top: 2rem !important;
      width: 100%;

      &:not(:last-child) {
        margin-right: auto !important;

        &.rtl {
          margin-right: 0 !important;
          margin-left: auto !important;
        }
      }
    }

    @include respond(phone) {
      flex-direction: column;
    }
  }

  &__field {
    width: 20rem;
    margin-right: 3rem;

    .MuiOutlinedInput-input {
      padding: 11.7px 14px;
    }

    .MuiOutlinedInput-root:hover {
      outline: $color-primary;
    }

    .MuiSelect-icon {
      top: calc(50% - 7px);
    }

    .MuiSelect-select,
    .MuiInputBase-input {
      color: $color-secondary;
    }

    .MuiSelect-select.Mui-disabled {
      background-color: $color-grey-light-2;
      color: $color-disabled;
    }

    .MuiSelect-select:focus {
      background-color: unset;
    }

    .MuiInputLabel-formControl {
      margin-bottom: 1rem;
    }

    .MuiOutlinedInput-notchedOutline {
      border: none;
    }

    .MuiInputLabel-root {
      font-weight: 700;
      font-size: 1.2rem;
      line-height: 18px;
      color: $color-primary;
      text-align: start;
      margin-bottom: 8px;
    }

    .MuiInput-underline:before,
    .MuiInput-underline:hover:not(.Mui-disabled):before,
    .MuiInput-underline:after {
      border-bottom: none;
    }

    &.rtl {
      margin-left: 1rem;
      margin-right: 0;
    }

    @media only screen and (max-width: $breakpoint-xmd) {
      margin-right: 0;
      width: 48%;

      &.rtl {
        margin-left: 0;
      }
    }

    @include respond(phone) {
      width: 100%;
      margin-bottom: 2rem;
    }

    &--search {
      position: relative;
      width: 100%;
      margin-left: auto;
      font-size: $default-font-size;

      &.rtl {
        margin-right: auto;
        margin-left: 0;
      }

      @media only screen and (max-width: $breakpoint-xmd) {
        order: 1;
        margin-left: 0;
        margin-right: auto;
        width: calc(100% - 10rem);

        &.rtl {
          margin-left: auto;
          margin-right: 0;
        }
      }

      @include respond(phone) {
        margin-right: auto;
      }

      input {
        padding: 8px 12px 8px 36px;
        border: 1px solid $color-grey-light-2;
        border-radius: 4px;
        background-color: $color-white;
        height: 4rem;
        width: 100%;

        @include respond(tab-port) {
          width: 100%;
          min-width: 100%;
        }

        &::placeholder {
          color: $color-grey-light-5;
        }

        &.rtl {
          padding: 8px 36px 8px 12px;
        }
      }

      button {
        position: absolute;
        left: -10px;
        top: 10px;
        border: none;
        background-color: transparent;
        padding: 0.2rem 0.5rem;

        &:hover {
          background-color: transparent;
        }

        &.rtl {
          left: unset;
          right: -10px;
        }
      }
    }

    &--filter {
      display: none;
      width: 9.5rem;
      position: relative;
      border-radius: 0.4rem;
      overflow: hidden;

      .active {
        color: white;
        background-color: $color-primary !important;
      }

      @media only screen and (max-width: $breakpoint-xmd) {
        display: initial;
        order: 2;
      }

      @include respond(phone) {
        display: initial;
      }

      button {
        display: flex;
        justify-content: center;
        align-items: center;
        color: $color-grey-light-5;
        border: 1px solid $color-grey-light-2;
        border-radius: 4px;
        background-color: $color-grey-light-1;
        padding: 8px 12px 8px;

        &.rtl {
          flex-direction: row-reverse;

          .MuiButton-startIcon {
            margin-right: -4px;
            margin-left: 8px;
          }
        }

        i {
          margin-right: 3px;
        }
      }
    }
  }

  &__filter-list {
    display: none;
    width: 100%;
    margin-bottom: 2rem;

    @include respond(phone) {
      display: inline-block;
    }

    div:first-of-type {
      margin-bottom: 0;
    }

    .session-filter__field {
      &.one,
      &.three {
        margin-bottom: 1rem;
      }
    }
  }
}

// Custom scrollbar for instructor autocomplete dropdown
.instructor-autocomplete-listbox {
  &::-webkit-scrollbar {
    width: 0.6rem; // Thinner scrollbar (10px instead of 16px)
    background-color: #f5f5f5;
  }

  &::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.1);
    background-color: #f5f5f5;
    border-radius: 10px;
  }

  &::-webkit-scrollbar-thumb {
    border-radius: 10px;
    background-color: $color-primary;
  }
}
