@import '../../assets/styles/variables.scss';
@import '../../assets/styles/mixins.scss';

.my-instructors {
  display: flex;
  flex-direction: column;
  padding-top: 4rem;
  background-color: $color-grey-light-0;

  .instructor-list {
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding-top: 0;
    background-color: $color-grey-light-0;

    &__container {
      display: flex;
      flex-wrap: wrap;
      justify-content: center;

      @include respond(phone) {
        width: 94%;
        max-width: unset !important;
      }
    }

    .no_results {
      display: flex;
      justify-content: center;
      align-items: center;
      flex-direction: column;
      margin-bottom: 2rem;

      &__img {
        margin-top: 14%;
        margin-bottom: 1.8rem;
        margin-left: -8rem;

        svg {
          width: 201px;
          height: 257px;
        }
      }

      &__content {
        text-align: center;

        p {
          font-size: 2.6rem;
          color: $color-disabled;
        }
      }
    }
  }
}
