@import '../../../assets/styles/variables.scss';
@import '../../../assets/styles/mixins.scss';

.landing__testimonials {
  padding: 2rem;
  width: 100%;
  height: fit-content;
  min-height: 55.5rem;
  background: linear-gradient(
    90deg,
    rgba(1, 202, 255, 0.7) 0%,
    rgba(1, 55, 255, 0.7) 100%
  );

  .testimonials-image-container {
    width: 100%;
    height: 100%;
    background-image: url('/assets/images/newLanding/testimonial.webp');
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center center;

    &.rtl {
      background-image: url('/assets/images/newLanding/testimonialRtl.webp');

      .title,
      .description {
        text-shadow: 2px 2px 5px rgba(0, 0, 0, 0.5);
      }
    }

    .title {
      padding-top: 16rem;
      color: $color-gold;
      font-size: 2.6rem;
      font-weight: 600;

      @include respond(tab-port) {
        font-size: 2.2rem;
        text-shadow: 2px 2px 5px rgba(0, 0, 0, 0.5);
      }

      @include respond(phone) {
        padding-top: 5rem;
      }
    }

    .profile-p {
      color: $color-white;
      font-size: 3.6rem;
      font-weight: 600;
      line-height: 44px;
      letter-spacing: -1.2px;
      max-width: 75rem;
      text-shadow: 2px 2px 5px rgba(0, 0, 0, 0.5);

      @include respond(tab-port) {
        font-size: 2.4rem;
        max-width: 50rem;
        text-shadow: 2px 2px 5px rgba(0, 0, 0, 0.5);
      }

      @include respond(phone) {
        max-width: 35rem;
      }
    }
  }
}
