@import '../../../assets/styles/variables.scss';
@import '../../../assets/styles/mixins.scss';
.landing__testimonials {
  padding: 6rem 3rem;
  background-color: rgba($color: $color-primary, $alpha: 0.2);

  .head {
    margin-left: 100px;
    &.rtl {
      margin-left: 0;
      margin-right: 100px;
      @include respond(phone) {
        margin-right: 0;
      }
    }
    @include respond(phone) {
      margin-left: 0;
    }
  }

  &-container {
    background-image: url('../../../assets/images/landing/Quote Mark.png');
    background-repeat: no-repeat;
    background-position: 0 0;
    position: relative;
  }

  .row {
    padding-top: 60px;
  }

  h1 {
    margin-bottom: 8px;
  }

  .description {
    margin-bottom: 25px;
  }

  .card {
    padding: 32px 32px 32px 64px;
    box-shadow: 0px 10px 20px rgba(41, 41, 42, 0.07);
    border-radius: 8px;
    border: 0;
    margin-bottom: 24px;
    position: relative;
    background-color: $color-white;

    &.first {
      max-width: 29rem;
      margin-left: auto;
    }

    &.second {
      max-width: 32rem;
    }

    &.third {
      max-width: 25rem;
      margin-bottom: 0;
    }

    img {
      width: 16px;
      height: 14px;
      position: absolute;
      top: 32px;
      left: 32px;
    }

    p {
      margin-bottom: 24px;
    }

    h5 {
      font-weight: bold;
    }
    h6 {
      color: #969bab;
    }
    &.rtl {
      padding: 32px 64px 32px 32px;
      &.first {
        margin-left: 0;
        margin-right: auto;
      }
      img {
        left: auto;
        right: 32px;
        transform: scaleX(-1);
      }
    }
  }
}
