@import '../../../assets/styles/variables.scss';
@import '../../../assets/styles/mixins.scss';
.payment-method {
  padding: 3.2rem;
  border-radius: 0.8rem;
  background-color: $color-white;
  position: relative;

  &__title {
    font-weight: 700;
    font-size: 2.4rem;
    line-height: 140%;
    color: $color-body;
    margin-bottom: 3.2rem;
    @include respond(phone) {
      font-size: 1.6rem;
    }
  }

  @include respond(phone) {
    padding: 2.4rem;
  }

  &__radio-container {
    background-color: $color-white;
    border-radius: 0.8rem;
    margin-bottom: 3.4rem;
    .MuiFormControl-root {
      width: 100%;
    }

    .MuiFormControlLabel-root {
      flex-direction: row-reverse;
      padding: 0;
      margin-bottom: 2.8rem;
      .MuiSvgIcon-root {
        width: 3rem;
        height: 3rem;
        @include respond(phone) {
          width: 2rem;
          height: 2rem;
        }
      }
    }

    .radio-wrapper {
      width: 100%;
      display: flex;
      align-items: center;
      color: #2c3e50;

      .MuiFormControlLabel-label {
        width: 100%;
      }

      .label {
        display: flex;
        align-items: center;
        font-weight: 500;
        font-size: 2.4rem;
        line-height: 140%;
        &-icon {
          margin: 0 2.2rem;
        }
        @include respond(phone) {
          font-size: 1.6rem;
        }
      }
    }
  }

  &__iframe {
    width: 100%;
    height: 450px;

    @include respond(phone) {
      height: 470px;
    }
  }

  &__submit {
    margin-top: 3.2rem !important;
    width: 100%;
    font-size: 1.6rem !important;
  }
}
