@import '../../assets/styles/variables.scss';
@import '../../assets/styles/mixins.scss';

.forget-password {
  padding: 3rem;
  display: flex;
  flex-direction: column;
  align-items: center;

  &__title {
    color: #2c3e50;
    font-weight: 600;
    font-size: 2.4rem;
    line-height: 32px;
    margin-bottom: 1.6rem;
  }

  &__description {
    margin-bottom: 3.2rem;
    text-align: center;

    .title {
      color: #2c3e50;
      font-weight: 400;
      line-height: 24px;
      font-size: 1.4rem;
    }
  }

  &__form {
    width: 100%;

    .custom-input-style {
      height: 4.4rem;
      width: 100%;
      margin-bottom: 4.8rem;
    }

    .MuiInputBase-root {
      font-size: 1.4rem;
      height: 4.4rem;
      line-height: 2.2rem;
      background: #f1f3f8;
    }

    .MuiOutlinedInput-input {
      padding: 14.5px 14px;
    }

    .MuiOutlinedInput-notchedOutline {
      border: none;
    }

    .MuiFormLabel-root {
      font-weight: 600;
      font-size: 1.6rem;
      line-height: 24px;
      color: #2c3e50;
      margin-bottom: 0.8rem;
    }

    .MuiFormHelperText-root {
      font-size: 1.4rem;
      margin: 0.3rem 0;
      text-align: start;
    }

    .btn-custom-style {
      width: 100%;
      font-size: 16px;
      font-weight: 500;
      line-height: 24px;
      border: none;
      height: 5.6rem;
    }
  }
}

.full-line {
  margin-right: -2.4rem;
  margin-left: -2.4rem;
}

.form-control-danger {
  color: #f4516c !important;
  font-size: 1.4rem;
}
