@import '../../../../assets/styles/variables.scss';
@import '../../../../assets/styles/mixins.scss';

.packages-card {
  display: block;
  border-radius: 8px;
  border: 1px solid #eaeef1;
  background-color: $color-white;
  padding: 3.2rem 3.2rem 1.2rem 1.2rem;
  margin-bottom: 2rem;

  @include respond(phone) {
    padding: 1.2rem;
  }

  &__content {
    display: flex;
    flex-direction: column;

    &-top {
      display: flex;
      justify-content: space-between;
      border-bottom: 1px solid #eaeef1;
      padding-bottom: 1.6rem;
      padding-left: 2rem;

      &.rtl {
        direction: rtl;
        padding-left: 0;
        padding-right: 2rem;
      }

      @include respond(tab-port) {
        padding-left: 0;

        &.rtl {
          padding-right: 0;
        }
      }
    }

    &-middle {
      display: flex;
      flex-wrap: wrap;
      padding-bottom: 1.6rem;

      .prop-card {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        padding-left: 2rem;
        padding-top: 1.2rem;
        width: 25%;

        &:not(:nth-child(4n)) {
          border-right: 1px solid #eaeef1;
        }

        &.rtl {
          padding-right: 2rem;
          padding-left: 0;
          &:not(:nth-child(4n)) {
            border-left: 1px solid #eaeef1;
            border-right: none;
          }
        }

        @include respond(tab-port) {
          width: 50%;
          padding-left: 0;

          &:not(:last-child) {
            border-right: none;
          }

          &:nth-child(odd):not(:last-child) {
            border-right: 1px solid #eaeef1;
          }

          &:not(:last-child) {
            border-bottom: 1px solid #eaeef1;
            padding-bottom: 1.2rem;
          }

          &:nth-child(even) {
            padding-left: 2rem;
          }

          &.rtl {
            padding-right: 0;

            &:not(:last-child) {
              border-left: none;
            }

            &:nth-child(odd):not(:last-child) {
              border-left: 1px solid #eaeef1;
              border-right: none;
            }

            &:nth-child(even) {
              padding-right: 2rem;
              padding-left: 0;
            }
          }
        }

        .title {
          font-weight: 600;
          font-size: 1.6rem;
          line-height: 19px;
          color: $color-title;
          margin-bottom: 1.2rem;
          text-align: start;

          @include respond(phone) {
            font-size: 1.1rem;
          }
        }

        .value {
          display: flex;
          align-items: center;
          justify-content: flex-start;
          font-weight: 500;
          font-size: 1.6rem;
          line-height: 150%;
          color: $color-body;

          svg {
            font-size: 2rem;
            margin-right: 0.7rem;
          }

          @include respond(phone) {
            font-size: 1.1rem;

            svg {
              font-size: 1.2rem;
            }
          }
        }

        &.rtl {
          .value {
            svg {
              margin-right: 0;
              margin-left: 0.7rem;
            }
          }

          .field {
            margin-right: 0;
            margin-left: 2rem;
          }
        }

        .field {
          padding: 4px 6px;
          border-radius: 0.6rem;
          background-color: #eaeef1;
          color: $color-body;
          font-weight: 500;
          font-size: 1.6rem;
          line-height: 150%;
          margin-right: 2rem;

          @include respond(phone) {
            font-size: 1.1rem;
          }
        }
      }
    }
  }

  &__img-container {
    display: flex;
    align-items: center;

    img {
      width: 4.9rem;
      height: 4.9rem;
      border-radius: 50%;
    }

    .user-info {
      margin: 0 0.8rem;

      .name {
        font-weight: 700;
        font-size: 2.4rem;
        line-height: 140%;
        color: $color-title;
        text-align: start;

        @include respond(phone) {
          font-size: 1.6rem;
        }
      }

      .review {
        display: flex;
        align-items: center;

        &-stars {
          display: flex;
          justify-content: center;
          align-items: center;
          gap: 0.5rem;

          .yellow {
            color: $color-gold;
          }

          .grey {
            color: rgba($color: $color-black, $alpha: 0.1);
          }
        }

        &-numbers {
          font-size: 1.4rem;
          color: $color-body;
        }
      }
    }
  }

  &__user-img {
    cursor: pointer;
    padding: 0;
    min-width: auto;

    &:disabled {
      cursor: default;
      opacity: 1;
    }
  }
}
