@import '../../../assets/styles/variables.scss';
@import '../../../assets/styles/mixins.scss';

.login {
  background-color: #fafafa;
  &__container {
    display: flex;
    @include respond(tab-port) {
      flex-direction: column;
      align-items: center;
    }

    @include respond(phone) {
      width: 94%;
      max-width: unset !important;
    }
  }
  .first-section {
    width: 60%;
    img {
      width: 95%;
      @include respond(tab-port) {
        width: 100%;
      }
    }
  }
  .second-section {
    width: 40%;
    margin: 3.2rem 0 2.4rem;
    .tab-init {
      min-height: 1px;
      margin-top: 2.4rem;
    }
    @include respond(tab-port) {
      width: 100%;
      .title {
        width: 100%;
      }
    }
  }
}
