@import '../../assets/styles/mixins.scss';
@import '../../assets/styles/variables.scss';

.checkout {
  background-color: #fafafa;
  .checkout-container {
    @include respond(phone) {
      width: 94%;
      max-width: unset !important;
    }
  }

  &.rtl {
    text-align: right;
  }

  &__header {
    padding: 6.4rem 0 4.8rem;
    display: flex;
    flex-direction: column;
    align-items: center;

    .title {
      color: $color-title;
      font-weight: 800;
      font-size: 4.8rem;
      line-height: 64px;
      margin-bottom: 2.1rem;
      @include respond(phone) {
        font-weight: 700;
        font-size: 3.6rem;
        line-height: 48px;
      }
    }
    .sub-title {
      color: $color-body;
      font-weight: 500;
      font-size: 1.6rem;
      line-height: 150%;
      @include respond(phone) {
        font-size: 1.4rem;
      }
    }
  }
  &__payment-details {
    .title {
      color: $color-title;
      font-weight: 700;
      font-size: 2.8rem;
      line-height: 120%;
      margin-bottom: 3.2rem;

      @include respond(phone) {
        font-weight: 600;
        font-size: 1.8rem;
        margin-bottom: 1.8rem;
      }
    }
    &__container {
      display: flex;
      justify-content: space-between;
      @include respond(tab-port) {
        flex-direction: column;
      }
      .block {
        display: flex;
        flex-direction: column;
        width: 48%;
        @include respond(tab-port) {
          width: 100%;
        }
      }
    }
  }
}

.checkoutModal {
  &__wrapper {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 3rem;
    text-align: center;

    img {
      width: 6.4rem;
      height: 6.4rem;

      margin-bottom: 3.2rem;
    }

    p {
      margin-top: 1.4rem;
      margin-bottom: 3.2rem;
      .add-text {
        display: block;
      }
    }
  }

  &__btn {
    font-size: 1.6rem;
    padding: 1rem 0;
    width: 100%;
  }
}
