@import '../../assets/styles/variables.scss';
@import '../../assets/styles/mixins.scss';

.trail-modal-card {
  width: 20rem;
  height: 22rem;
  margin-bottom: 11rem;
  cursor: pointer;

  &__image {
    width: 9rem;
    height: 9rem;
    margin: 0 auto;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
    border-radius: 50%;
    border: 3px solid $color-primary;
    position: relative;
    top: 3rem;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 18px;
  }

  &__body {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    height: 100%;
    box-shadow: 0 13px 25px rgba(196, 220, 235, 0.45);
    border-radius: 24px;
    border: 1px solid #e5e5e5;
    background-color: $color-white;
    padding-top: 3rem;

    &-stars {
      margin: 0 -1px;
      display: flex;
      justify-content: flex-start;
      align-items: center;
    }

    &-separator {
      width: 40%;
      border: 1px solid $color-primary;
      margin: 1rem 0;
    }

    &-about {
      padding: 0 1rem;
      font-size: 12px;
      text-align: start;
      color: $color-body;
      font-weight: 400;
      line-height: 1.7;
    }

    &-name {
      color: $color-title;
    }

    &-field {
      color: $color-body;
      @include ellipsis(1);
      max-width: 90%;
    }
  }

  &:hover {
    .trail-modal-card__image {
      background-color: $color-primary;
      color: $color-white;
    }
  }
}

.trail-modal-card:hover .trail-modal-card__body {
  background-color: $color-primary;
  color: $color-white;
}

.trail-modal-card:hover .trail-modal-card__body-name {
  color: $color-white;
}

.trail-modal-card:hover .trail-modal-card__body-about {
  color: $color-white;
}

.trail-modal-card:hover .trail-modal-card__body-field {
  color: $color-white;
}

.trail-modal-card:hover .trail-modal-card__body-separator {
  border: 1px solid $color-white;
}
