@import '../../assets/styles/variables.scss';
@import '../../assets/styles/mixins.scss';
.header {
  margin-bottom: 12rem;

  @include respond(phone) {
    margin-bottom: 7.5rem;
  }
  &__withBanner {
    margin-bottom: 18.3rem;
    @include respond(phone) {
      margin-bottom: 13.7rem;
    }
  }

  &__banner {
    width: 100%;
    height: 6.3rem;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: $color-primary;
    color: $color-white;
    font-size: 1.6rem;
    font-weight: 500;
    @include respond(phone) {
      font-size: 1.4rem;
      padding: 0 1rem;
    }
    &-text {
      margin: 0 1.8rem;
    }
    &-action {
      color: $color-white;
      padding: 0;
      font-size: inherit;
      font-weight: inherit;
      text-decoration: underline;
    }
  }
}
