@import '../../../assets/styles/variables.scss';
@import '../../../assets/styles/mixins.scss';

.packages-list-container {
  width: 100%;

  .packages-list {
    display: flex;
    flex-direction: column;
  }

  .no-packages {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 6rem 2rem;
    text-align: center;

    svg {
      font-size: 6rem;
      color: $color-grey-light-2;
      margin-bottom: 2rem;
    }

    .title {
      font-size: 2.4rem;
      font-weight: 700;
      color: $color-title;
      margin-bottom: 1rem;

      @include respond(phone) {
        font-size: 2rem;
      }
    }

    .subtitle {
      font-size: 1.6rem;
      color: $color-body;
      max-width: 50rem;

      @include respond(phone) {
        font-size: 1.4rem;
      }
    }
  }
}
