@import '../../../assets/styles/variables.scss';
@import '../../../assets/styles/mixins.scss';
.sessions-rate-container {
  .line {
    @include respond(phone) {
      display: none;
    }
  }
  .sessions-rate {
    &__title {
      margin-bottom: 2.4rem;
      text-align: start;
      @include respond(phone) {
        margin: 2.4rem 0 1.2rem;
      }
    }

    &__card:not(:last-child) {
      margin-bottom: 2rem;
    }
  }
}

.studentRateModal {
  &__head {
    max-width: 40rem;
    margin: auto;
  }
}

hr {
  margin: 3.2rem 0;
}

.studentRateSuccessModal {
  &__wrapper {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    text-align: center;

    img {
      width: 4.8rem;
      height: 4.8rem;
    }
  }
}
