@import '../../../assets/styles/variables.scss';
@import '../../../assets/styles/mixins.scss';
.landing__features {
  padding-top: 4.5rem;
  padding-bottom: 4.5rem;

  .row {
    align-items: center;

    p {
      margin-top: 12px;
      margin-bottom: 23px;
    }
  }

  @include respond(phone) {
    text-align: center;

    .col-1-of-1-sm {
      margin: auto;

      img {
        width: 100%;
        margin-bottom: 28px;
      }
    }

    .row {
      &:nth-of-type(1),
      &:nth-of-type(3) {
        flex-direction: column-reverse;
      }
    }
  }

  &-title {
    text-align: start;
    @include respond(phone) {
      text-align: center;
    }
  }

  .feature-button {
    font-size: 1.6rem;
    font-weight: 500;
    line-height: 2.4rem;
    padding: 1.2rem 3rem;
  }
}
