@import '../../assets/styles/variables.scss';
@import '../../assets/styles/mixins.scss';

.sessions {
  background-color: $color-grey-light-0;

  &__container {
    display: flex;
    flex-direction: column;

    @include respond(phone) {
      width: 94%;
      max-width: unset !important;
    }
  }

  &__banner {
    position: relative;
    margin-bottom: 11rem;
    margin-top: 24rem;
    background-color: #7dcee0;
    width: 100%;
    height: 12rem;
    display: flex;
    flex-direction: column;
    align-items: center;

    @include respond(phone) {
      margin-top: 14rem;
      margin-bottom: 5rem;
    }

    .overview {
      position: absolute;
      width: 50%;
      bottom: 50%;
      left: 25%;
      box-shadow: -5px 5px 32px 0 rgba(67, 86, 100, 0.17);

      @include respond(tab-port) {
        left: 10%;
        width: 80%;
      }

      @include respond(phone) {
        left: 3%;
        width: 94%;
      }

      &.rtl {
        left: 0;
        right: 25%;

        @include respond(tab-port) {
          right: 10%;
        }

        @include respond(phone) {
          right: 3%;
        }
      }
    }

    .filter {
      position: absolute;
      width: 100%;
      top: 75%;
      z-index: 1;

      @include respond(phone) {
        width: 94%;
        max-width: unset !important;
      }
    }
  }
}
