/* Absolute Center Spinner */
.tyro-spinner-loader {
  position: fixed;
  z-index: 9999;
  height: 2em;
  width: 2em;
  margin: auto;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  visibility: hidden;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  /* Transparent Overlay */
  p {
    font-size: 1.6rem;
    line-height: 2.5rem;
    font-weight: bold;
    color: white;
    width: 30rem;
    order: 2;
    margin-top: 2rem;
    z-index: 1;
    text-align: center;
  }

  &:before {
    content: '';
    display: block;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
  }

  /* :not(:required) hides these rules from IE9 and below */
  &:not(:required) {
    /* hide "loading..." text */
    font: 0/0 a;
    color: transparent;
    text-shadow: none;
    background-color: transparent;
    border: 0;
  }

  &:not(:required):after {
    content: '';
    display: inline-block;
    height: 50px;
    padding: 2rem;
    border: 3px solid rgba(238, 238, 238, 0.63);
    border-radius: 50%;
    border-top-color: #3ac5f1;
    animation: spin 1s ease-in-out infinite;
    -webkit-animation: spin 1s ease-in-out infinite;

    @keyframes spin {
      to {
        -webkit-transform: rotate(360deg);
      }
    }

    @-webkit-keyframes spin {
      to {
        -webkit-transform: rotate(360deg);
      }
    }
  }
}
