#snackbarDiv {
  visibility: hidden;
  width: 100%;
  background-color: #dc3545;
  color: #fff;
  text-align: center;
  padding: 16px;
  position: fixed;
  z-index: 9999999;
  bottom: 0;
  font-size: 1.2rem;
}

#snackbarDiv.show {
  visibility: visible;
  -webkit-animation: fadeIn 0.5s;
  animation: fadeIn 0.5s;
}

@-webkit-keyframes fadeIn {
  from {
    bottom: 0;
    opacity: 0;
  }
  to {
    bottom: 30px;
    opacity: 1;
  }
}

@keyframes fadeIn {
  from {
    bottom: 0;
    opacity: 0;
  }
  to {
    bottom: 30px;
    opacity: 1;
  }
}
