@import '../../../../assets/styles/variables.scss';
@import '../../../../assets/styles/mixins.scss';
.testimonial {
  display: block;
  border-radius: 4px;
  background-color: $color-white;
  box-shadow: -16px 16px 32px 0 rgba(67, 86, 100, 0.17);
  padding: 6rem 2.4rem 2.4rem;
  margin-bottom: 6.6rem;
  width: 100%;

  @include respond(phone) {
    width: 94vw;
    min-width: 94vw;
    margin: 0 auto 6.6rem;
  }
  &__container {
    display: flex;
    flex-direction: column;
    .description {
      color: $color-body;
      font-size: 18px;
      line-height: 28px;
      height: 12rem;
      overflow: overlay;

      @include respond(phone) {
        height: 22rem;
      }
    }
    .footer {
      display: flex;
      justify-content: space-between;
      margin-top: 2rem;
      .footer-data {
        p:nth-of-type(1) {
          color: $color-title;
          font-size: 18px;
          font-weight: bold;
          line-height: 28px;
        }

        p:nth-of-type(2) {
          color: $color-body;
          font-size: 12px;
          line-height: 28px;
          text-align: left;
        }
      }
      img {
        align-self: center;
        width: auto;
      }
    }
  }
}
