@import '../../../assets/styles/variables.scss';
@import '../../../assets/styles/mixins.scss';

.landing__image-container {
  width: 100%;
  height: 54rem;
  background-image: url('../../../assets/images/newLanding/group1.webp');
  background-size: cover;
  background-repeat: no-repeat;

  @include respond(tab-land) {
    background-size: unset;
  }

  @include respond(tab-port) {
    background-size: cover;
  }

  .container {
    display: flex;
    flex-direction: row;
    height: 54rem;
  }

  .col-2-of-4 {
    min-width: 70rem;

    @include respond(tab-land) {
      min-width: 40rem;
    }

    @include respond(tab-port) {
      min-width: unset;
    }

    &.rtl {
      float: right;
    }
  }

  .mac-container {
    align-self: flex-end;

    .macbook-image {
      max-width: 54.4rem;
      max-height: 36.4rem;

      &.rtl {
        transform: scaleX(-1);
      }
    }

    @include respond(tab-port) {
      display: none;
    }
  }

  .landing-header {
    display: flex;
    justify-content: space-around;
    align-items: flex-start;
    flex-direction: column;

    @include respond(tab-port) {
      align-items: center;
      justify-content: center;
      text-align: center;
    }

    &__title {
      color: $color-white;
      font-size: 6.4rem;
      line-height: 6.4rem;
      font-weight: 600;
      margin-bottom: 2rem;

      @include respond(phone) {
        font-size: 3.6rem;
        line-height: 3.6rem;
      }
    }

    &__subtitle {
      color: $color-gold;
      font-size: 2.2rem;
      font-weight: 600;
      letter-spacing: 1.625px;
      text-transform: uppercase;
      margin-top: 4.8rem;
    }

    &__description {
      color: $color-white;
      font-size: 2.4rem;
      margin-bottom: 2.2rem;
      line-height: 3rem;
      opacity: 0.7;

      @include respond(phone) {
        font-size: 1.6rem;
        line-height: 1.8rem;
      }
    }

    &__button {
      margin-bottom: 5.9rem;

      @include respond(phone) {
        margin: 0 auto 5.9rem auto;
      }
    }
  }
}
